 
 .meta{
    padding: 0;
    margin: 0;
    margin-left: 120px;
    margin-right: 150px;
      }
.body{
    background-color: darkseagreen;
     }
.otro{
    padding: 0;
    margin: 0;
    margin-left: 110px;
    margin-right: 150px;
    background-color:aliceblue;
    }
             .nav{
    padding: 0;
    margin: 0;         
    margin-left: 40px;
    margin-right: 136px;
    }
            a.vol{
                font-size: 40px;
                
            }

       
