
    
 .meta{
    padding: 0;
    margin: 0;
    margin-left: 120px;
    margin-right: 150px;
    
      }
.body{
    background-color: darkseagreen;
     }

.nav{
    padding: 0;
    margin: 0;         
    margin-left: 80px;
    margin-right: 100px;
    }
            .otro{
    padding: 0;
    margin: 0;
    margin-left: 120px;
    margin-right: 150px;
    }
            .otro{    margin: 0;
              padding: 0;
              margin-left:100px;
              padding-left:75px;
              margin-right: 150px;
              border-style: solid;
              border-width: 5px;
              height: 700px;
              font-size: 45px;
              background-image: url(../imagen/fondo33.jpg);
            }
            .pie{
             font-family: fantasy;
                
                
            }
            .ubi{
         
              position:inherit;
            }
          

    


