 #aca{
            margin: 0;
    padding: 0;
    margin-left: 150px;
    margin-right: 150px;
    padding-left: 150px;
    padding-right: 150px;
    border-style: solid;
    border-width: 5px;
    height: 500px;
    font-size: 25px;
    
}
            
   
        body{
            background-image: url("../imagen/fondo24.jpg");  
            
        }
        
            input:invalid {
        border: 1px solid red;
    }

    input:valid {
        border: 1px solid green;
    }
    input{
        
       font-size:25px;
      
        border-radius:10px 10px 10px 10px; 
      
    }
    .mi{
        width: 400px;
        height: 400px;
        
    }
    
    
    #mens{
    max-width: 254px;
    width: 315px;
    height: 173px;
    }
    
.nav{
    padding: 0;
    margin: 0;         
    margin-left: 80px;
    margin-right: 100px;
    }
    body{
            background-color: darkseagreen;
    }
    .meta{
    padding: 0;
    margin: 0;
    margin-left: 120px;
    margin-right: 150px;
    
      }