table{
     border: 1px solid black;
    margin-left: 300px;
    margin-top: 50px;
    width: 600px;
}
body{
    background-color: azure;
}
/*div#caja{
    margin: auto;
    margin-top: 60px;
    width: 900px;
    height: 300px;
    border: 1px solid black;
}*/

#dos{
    margin-top: 0px;
}

