
             /*tamaño para celular*/
            @media (max-width:480px){
             body{
                margin: 0;
                padding: 0;
                 background-color: darkseagreen ;
               
               }
            .meta {
                padding: 0;
                margin: 0;
                margin-left: 100px;
                margin-right: 150px;

            }

            .nav {
                padding: 0;
                margin: 0;
                margin-left: 80px;
                margin-right: 100px;
            }

           

            .aca {
                margin: 0;
                padding: 0;
                margin-left: 500px;
                margin-right: 450px;
                background-color: darkseagreen;
               
               }
            

            }
            /*tamaño para tablet*/
            @media (min-width:481px),(max-width:980px) {
             body{
                margin: 0;
                padding: 0;
                 background-color: darkseagreen ;
               
               }
            .meta {
                padding: 0;
                margin: 0;
                margin-left: 100px;
                margin-right: 150px;

            }

            .nav {
                padding: 0;
                margin: 0;
                margin-left: 80px;
                margin-right: 100px;
            }

           

            .aca {
                margin: 0;
                padding: 0;
                margin-left: 500px;
                margin-right: 450px;
                background-color: darkseagreen;
               
               }

            }
           
            /*Tamaño para pc*/
            @media (min-width:981px){


            body{
                margin: 0;
                padding: 0;
                 background-color: darkseagreen ;
               
               }
            .meta {
                padding: 0;
                margin: 0;
                margin-left: 100px;
                margin-right: 150px;

            }

            .nav {
                padding: 0;
                margin: 0;
                margin-left: 80px;
                margin-right: 100px;
            }

           

            .aca {
                margin: 0;
                padding: 0;
                margin-left: 500px;
                margin-right: 450px;
                background-color: darkseagreen;
               
               }
            }
            
            