
            /* tamaño para celular*/
            @media (max-width:480px){
                #meta {
                    padding: 0;
                    margin: 0;
                    margin-left: 100px;
                    margin-right: 150px;

                }

                .nav {
                    padding: 0;
                    margin: 0;
                    margin-left: 80px;
                    margin-right: 100px;
                }

                body {
                    padding: 0;
                    margin: 0;
                    background-color: darkseagreen;

                }

                .aca {
                    margin: 0;
                    padding: 0;
                    margin-left: 100px;
                    padding-left: 200px;
                    margin-right: 150px;
                    border-style: solid;
                    border-width: 5px;
                    height: 700px;
                    font-size: 25px;
                    background-image: url(../imagen/fondo33.jpg);

                }
                .dis{
                    font-size:25px;
                }
                .p{
                    font-size:25px;
                }
                .po{
                    font-size:20px;
                    border-radius:10px 10px 10px 10px;
                }

                input:invalid {
                    border: 1px solid red;
                }

                input:valid {
                    border: 1px solid green;
                }
                input{

                    font-size:25px;

                    border-radius:10px 10px 10px 10px; 
                }
                .mens{
                    height: 30px;
                    width: 300px;
                    color: black;
                }

            }
            /*tamaño para tablet*/
            @media (min-width:481px),(max-width:980px) {
                #meta {
                    padding: 0;
                    margin: 0;
                    margin-left: 100px;
                    margin-right: 150px;

                }

                .nav {
                    padding: 0;
                    margin: 0;
                    margin-left: 80px;
                    margin-right: 100px;
                }

                body {
                    padding: 0;
                    margin: 0;
                    background-color: darkseagreen;

                }

                .aca {
                    margin: 0;
                    padding: 0;
                    margin-left: 100px;
                    padding-left: 200px;
                    margin-right: 150px;
                    border-style: solid;
                    border-width: 5px;
                    height: 700px;
                    font-size: 25px;
                    background-image: url(imagen/fondo33.jpg);

                }
                .dis{
                    font-size:25px;
                }
                .p{
                    font-size:25px;
                }
                .po{
                    font-size:20px;
                    border-radius:10px 10px 10px 10px;
                }

                input:invalid {
                    border: 1px solid red;
                }

                input:valid {
                    border: 1px solid green;
                }
                input{

                    font-size:25px;

                    border-radius:10px 10px 10px 10px; 
                }
                .mens{
                    height: 30px;
                    width: 300px;
                    color: black;
                }

            }
            /*Tamaño para pc*/
            @media (min-width:981px){


            }
            #meta {
                padding: 0;
                margin: 0;
                margin-left: 100px;
                margin-right: 150px;

            }

            .nav {
                padding: 0;
                margin: 0;
                margin-left: 80px;
                margin-right: 100px;
            }

            body {
                padding: 0;
                margin: 0;
                background-color: darkseagreen;

            }

            .aca {
                margin: 0;
                padding: 0;
                margin-left: 100px;
                padding-left: 200px;
                margin-right: 150px;
                border-style: solid;
                border-width: 5px;
                height: 700px;
                font-size: 25px;
                background-image: url(imagen/fondo33.jpg);

            }
            .dis{
                font-size:25px;
            }
            .p{
                font-size:25px;
            }
            .po{
                font-size:20px;
                border-radius:10px 10px 10px 10px;
            }

            input:invalid {
                border: 1px solid red;
            }

            input:valid {
                border: 1px solid green;
            }
            input{

                font-size:25px;

                border-radius:10px 10px 10px 10px; 
            }
            .mens{
                height: 30px;
                width: 300px;
                color: black;
            }
            



    