
    /* tamaño para celular*/
@media (max-width:480px){
    
    .meta {
            padding: 0;
            margin: 0;
            margin-left: 60px;
            margin-right: 75px;

        }

        

        .nav {
            padding: 0;
            margin: 0;
            margin-left: 40px;
            margin-right: 50px;
        }

        .conten {
            position: relative;
            width: 400px;
            height: 300px;
            background-color: #000;
            border-radius: 7px;
            margin-left: 125px;

        }

        .image {
            position: absolute;
            width: 50%;
            height: 50%;
            visibility: hidden;
            opacity: 0;
            margin-left: 20px;
            padding-top: 20px;
        }

        .image jpg {
            height: 50%;
            position: relative;
            left: 25%;
            transform: translateX(-25%);

        }

        .anterior {

            position: absolute;
            text-decoration: none;
            color: white;
            font-size: 16px;
            top: 25%;
            transform: translateY(-25%);
        }

        .anterior:hover {
            background-color: gray;
        }

        .siguiente {
            position: absolute;
            text-decoration: none;
            color: white;
            font-size: 36px;
            top: 47%;
            transform: translateX(-25%);
            left: 45%;
        }

        .siguiente:hover {
            background-color: gray;
        }

        .boton {
            position: absolute;
            top: 5px;
            left: 95%;

        }

        .puntos {

            position: absolute;
            top: 93%;
            width: 100%;
            text-align: center;
        }

        .punto {

            display: inline-block;
            width: 16px;
            height: 16px;
            background-color: white;
            border-radius: 50%;
            margin-right: 5px;

        }

        .punto:hover {
            cursor: pointer;
            background-color: gray;
        }

        .actual {

            visibility: visible;
            opacity: 1;
            transform: visibility 1s, opacity 1s;

        }

        .activo {
            background-color: gray;
        }

}

/*tamaño para tablet*/
@media (min-width:481px),(max-width:980px) {
   
    .meta {
            padding: 0;
            margin: 0;
            margin-left: 120px;
            margin-right: 150px;

        }

        

        .nav {
            padding: 0;
            margin: 0;
            margin-left: 80px;
            margin-right: 100px;
        }

        .conten {
            position: relative;
            width: 800px;
            height: 600px;
           background-color: #000;
            border-radius: 15px;
            margin-left: 250px;

        }

        .image {
            position: absolute;
            width: 100%;
            height: 100%;
            visibility: hidden;
            opacity: 0;
            margin-left: 40px;
            padding-top: 40px;
        }

        .image jpg {
            height: 100%;
            position: relative;
            left: 50%;
            transform: translateX(-50%);

        }

        .anterior {

            position: absolute;
            text-decoration: none;
            color: white;
            font-size: 36px;
            top: 50%;
            transform: translateY(-50%);
        }

        .anterior:hover {
            background-color: gray;
        }

        .siguiente {
            position: absolute;
            text-decoration: none;
            color: white;
            font-size: 36px;
            top: 47%;
            transform: translateX(-51%);
            left: 97%;
        }

        .siguiente:hover {
            background-color: gray;
        }

        .boton {
            position: absolute;
            top: 5px;
            left: 95%;

        }

        .puntos {

            position: absolute;
            top: 93%;
            width: 100%;
            text-align: center;
        }

        .punto {

            display: inline-block;
            width: 16px;
            height: 16px;
            background-color: white;
            border-radius: 50%;
            margin-right: 5px;

        }

        .punto:hover {
            cursor: pointer;
            background-color: gray;
        }

        .actual {

            visibility: visible;
            opacity: 1;
            transform: visibility 1s, opacity 1s;

        }

        .activo {
            background-color: gray;
        }


}
/*Tamaño para pc*/
@media (min-width:981px){
    
.meta {
            padding: 0;
            margin: 0;
            margin-left: 120px;
            margin-right: 150px;

        }

        
        .nav {
            padding: 0;
            margin: 0;
            margin-left: 80px;
            margin-right: 100px;
        }

        .conten {
            position: relative;
            width: 800px;
            height: 600px;
           background-color: #000;
            border-radius: 15px;
            margin-left: 250px;

        }

        .image {
            position: absolute;
            width: 100%;
            height: 100%;
            visibility: hidden;
            opacity: 0;
            margin-left: 40px;
            padding-top: 40px;
        }

        .image jpg {
            height: 100%;
            position: relative;
            left: 50%;
            transform: translateX(-50%);

        }

        .anterior {

            position: absolute;
            text-decoration: none;
            color: white;
            font-size: 36px;
            top: 50%;
            transform: translateY(-50%);
        }

        .anterior:hover {
            background-color: gray;
        }

        .siguiente {
            position: absolute;
            text-decoration: none;
            color: white;
            font-size: 36px;
            top: 47%;
            transform: translateX(-51%);
            left: 97%;
        }

        .siguiente:hover {
            background-color: gray;
        }

        .boton {
            position: absolute;
            top: 5px;
            left: 95%;

        }

        .puntos {

            position: absolute;
            top: 93%;
            width: 100%;
            text-align: center;
        }

        .punto {

            display: inline-block;
            width: 16px;
            height: 16px;
            background-color: white;
            border-radius: 50%;
            margin-right: 5px;

        }

        .punto:hover {
            cursor: pointer;
            background-color: gray;
        }

        .actual {

            visibility: visible;
            opacity: 1;
            transform: visibility 1s, opacity 1s;

        }

        .activo {
            background-color: gray;
        }

}
       


