 body{
        background-color: azure;
               
    }
    nav{
        padding-right: 150px;
        padding-left: 150px;
    }
    ul{
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        background-color: darkcyan;
        overflow: hidden;
        
    }
    li{
            float: left;
        }
        li a{
            display: block;
            color: white;
            text-align: center;
            padding: 16px 16px;
            text-decoration: none;
            font-size: 20px;
        }
        li a:visited{
           color: activecaption;    
        }
        li a:hover{
            background-color: mediumseagreen;
            color: white;
        }
        .caja{
        position: absolute;
       padding-left: 300px;
           
            
            
        }
        .caja{
            position: static;
            padding-left: 25px;
          float: left;
            width: 750px;
            height: 300px;
            /*background-color: aqua;*/
            
            
        }
        
        .aca{
            position:inherit;
            background-color:aliceblue;
            margin-right: 20px;
          float: right;
           width:500px;
            height:200px;
            
          }
       


