
.nav{
    padding: 0;
    margin: 0;         
    margin-left: 80px;
    margin-right: 100px;
    }
    body{
            background-color: darkseagreen;
    }
    .meta{
    padding: 0;
    margin: 0;
    margin-left: 120px;
    margin-right: 150px;
    
      }