
body{
  background-color: azure;
}
#cabe{
    background-color: red;
    border-collapse: collapse;
    margin-left: 10px;
    width: 605px;
    height: 600px;
    border: 1px solid #000;
    
}
#izq{
    
    padding:0px;
    width: 300px;
    height: 150px;
background-color: #28a4c9;
float: left;
font-size: 13px;
border: 1px solid #000;
    
    
}
#der{
    background-color: #cccc00;
     width: 300px;
    height: 150px;
background-color: #449d44;
    float: left;
    font-size: 11px;
    border: 1px solid #000;
    
    
}
#izq2{
    padding: 0px;
    width: 300px;
    height: 40px;
background-color: #006400;
float: left;
border: 1px solid #000;
}
#der2{
    background-color: #cccc00;
     width: 300px;
    height: 40px;
    float: left;
    border: 1px solid #000;
}
#cen{
    background-color: #337ab7;
     width: 600px;
    height: 80px;
    float: left;
    border: 1px solid #000;
}
#tab{
    border-collapse: collapse;
    background-color: #46b8da;
    width: 600px;
    height: 200px;
    float: left;
    border: 1px solid #000;
    
}
th{
    border: solid #000;
    height: 10px;
    
}
td{
    border: 1px solid #000;
}