<datalist id="informacion">
<option value=”123123123” label=”Teléfono 1”>
<option value=”456456456” label=”Teléfono 2”>
</datalist>

<input type="tel" name="telefono" id="telefono" list="informacion">